<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="http://swcarpentry.github.io/python-novice-inflammation/setup/">Setup</a> </td> </tr>
      <tr> <td>08:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/">Building programs with Python</a></td> </tr>
      <tr> <td>10:15</td>  <td>Coffee</td> </tr>
      <tr> <td>10:30</td>  <td>Python <a href="http://swcarpentry.github.io/python-novice-inflammation/02-loop/index.html">Loops</a>,
                                      <a href="http://swcarpentry.github.io/python-novice-inflammation/03-lists/index.html">Lists</a>,
                                      <a href="http://swcarpentry.github.io/python-novice-inflammation/06-func/index.html">Functions</a></td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
        <tr> <td>08:30</td> <td><a href="https://jensv.github.io/2018-08-27-llnl_pandas">Using Python Libraries: Pandas</a></td></tr>
      <tr> <td>10:00</td>  <td>Coffee</td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://jensv.github.io/2018-08-27-llnl_defensive_python">Defensive Programming with Python</a></td></tr>
      <tr> <td>11:45</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
